ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #E7E9FC;
    border-bottom: 1px solid #e7e9fc;
}
.container{
    max-width: 1158px;
    padding: 0 15px; 
    margin: 0 auto;
}
header .container{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
}

.nav .nav-ul{
    display: flex;
    gap: 40px;
    margin-right: 332px;
    width: 261px;
    padding: 24px 0;
}
.address ul{
    display: flex;
    gap: 40px;
    align-items: center;
}

.logo .logo-first {
    color: #2e2f42;
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.address-link {
    text-decoration: none;
    color: #2E2F42;
}

.nav-link {
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: #2e2f42;
    padding: 24px 0;
}

#nav-link-first:hover {
    color: #404bbf;
}

#nav-link-first:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2E2F42;
    height: 600px;
    padding: 188px 0;
}

.heading {
    color: white;
    font-weight: 700;
    font-style: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.button {
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}
.second-section{
    padding: 120px 0;
}
.second-section .container .second-section-list{
    display: flex;
    gap: 24px;
}
.second-list{
    width: calc((100% - 72px) / 4);
}

.second-heading {
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;

}

.team-heading {
    text-align: center;
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}

.second-section .second-paragraph {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-section {
    background-color: #F4F4FD;
    height: 732px;
    padding: 120px 0;
}
.third-section__container .third-ul{
    display: flex;
    gap: 24px;
}

.team-heading{
    margin-bottom: 8px;
    text-align: center;
}


.third-heading {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
}

.third-list {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    width: 264px;
    height: 380px;
}
.third-li-div{
    padding: 32px 0;
}

.third-paragraph {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.fourth-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.fourth-heading {
    font-weight: 700;
    font-style: bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
}
.fourth-section__container .fourth-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.fourth-section__container{
    flex-basis: calc((100% - 48px) / 3);
}

.fourth-section__text{
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.portfoio-heading {
    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.fourth-section .fourth-paragraph {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    height: 312px;
    padding: 100px 0;
}

.footer .footer-text {
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer .logo-first {
    color: #F4F4FD;
}
.footer a{
    display: inline-block;
    margin-bottom: 16px;
}